<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1><%= category %> Products</h1>
    <% for(let product of products) { %>
        <div>
            <h2><%= product.name %></h2>
            <p>Brand: <%= product.brand %></p>
    <ul>
        <% for(let product of products) { %>
        <li>
            <div>
                <%= product.name  %> - <%= product.brand %>
            </a>
        </li>
        <% } %>
    </ul>
</body>
</html>